<div [ngClass]="is_collapsed ? 'w-20' : 'w-48'"
    class="h-screen bg-slate-900 text-white transition-all duration-300 ease-in-out flex flex-col p-4 shadow-xl">

    <!--
    <div class="flex items-center justify-between mb-10">
        <h1 *ngIf="!is_collapsed" class="text-xl font-bold transition-opacity">Balboa</h1>
        <button (click)="toggleSidebar()" class="p-2 rounded-lg hover:bg-slate-800">
            {{ is_collapsed ? '➡️' : '⬅️' }}
        </button>
    </div>
-->
    <div class="flex items-center justify-between mb-10">
    <h1 *ngIf="!is_collapsed" class="text-xl font-bold text-white transition-all duration-300">
        Balboa
    </h1>

    <button (click)="toggleSidebar()" 
            class="p-2 rounded-lg text-slate-400 hover:bg-slate-800 hover:text-white transition-colors duration-200"
            aria-label="Toggle Sidebar">
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="2" 
            stroke="currentColor" 
            class="w-6 h-6 transition-transform duration-300"
            [class.rotate-180]="is_collapsed">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
    </button>
</div>

    <nav class="space-y-2">
        <a (click)="goto('u/dashboard')" class="flex items-center p-3 rounded-lg hover:bg-blue-600 transition-colors group cursor-pointer">
            <span class="text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>

            </span>
            @if (!is_collapsed){
            <span class="ml-4 font-medium">Home</span>
            }
            @else{
            <div class="absolute left-20 hidden group-hover:block bg-black text-white text-xs p-2 rounded">
                Home
            </div>
            }
        </a>
        <a href="/u/account" class="flex items-center p-3 rounded-lg hover:bg-blue-600 transition-colors group cursor-pointer">
            <span class="text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>

            </span>
            @if (!is_collapsed){
            <span class="ml-4 font-medium">Account</span>
            }
            @else{
            <div class="absolute left-20 hidden group-hover:block bg-black text-white text-xs p-2 rounded">
                Account
            </div>
            }
        </a>
        <a (click)="goto('a/admins')" class="flex items-center p-3 rounded-lg hover:bg-blue-600 transition-colors group cursor-pointer">
            <span class="text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>

            </span>
            @if (!is_collapsed){
            <span class="ml-4 font-medium">Admins</span>
            }
            @else{
            <div class="absolute left-20 hidden group-hover:block bg-black text-white text-xs p-2 rounded">
                Admins
            </div>
            }
        </a>
        <a (click)="goto('a/coordinators')" class="flex items-center p-3 rounded-lg hover:bg-blue-600 transition-colors group cursor-pointer">
            <span class="text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>

            </span>
            @if (!is_collapsed){
            <span class="ml-4 font-medium">Coordinators</span>
            }
            @else{
            <div class="absolute left-20 hidden group-hover:block bg-black text-white text-xs p-2 rounded">
                Coordinators
            </div>
            }
        </a>
        <a (click)="goto('u/productions')" class="flex items-center p-3 rounded-lg hover:bg-blue-600 transition-colors group cursor-pointer">
            <span class="text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>

            </span>
            @if (!is_collapsed){
            <span class="ml-4 font-medium">Productions</span>
            }
            @else{
            <div class="absolute left-20 hidden group-hover:block bg-black text-white text-xs p-2 rounded">
                Productions
            </div>
            }
        </a>
        <a (click)="goto('u/users')" class="flex items-center p-3 rounded-lg hover:bg-blue-600 transition-colors group cursor-pointer">
            <span class="text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>

            </span>
            @if (!is_collapsed){
            <span class="ml-4 font-medium">Users</span>
            }
            @else{
            <div class="absolute left-20 hidden group-hover:block bg-black text-white text-xs p-2 rounded">
                Users
            </div>
            }
        </a>
        <a (click)="goto('u/domains')" class="flex items-center p-3 rounded-lg hover:bg-blue-600 transition-colors group cursor-pointer">
            <span class="text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
            </span>
            @if (!is_collapsed){
            <span class="ml-4 font-medium">Domains</span>
            }
            @else{
            <div class="absolute left-20 hidden group-hover:block bg-black text-white text-xs p-2 rounded">
                Users
            </div>
            }
        </a>
        <a class="flex items-center p-3 rounded-lg hover:bg-blue-600 transition-colors group cursor-pointer" (click)="logOut()">
            <span class="text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>


            </span>
            @if (!is_collapsed){
            <span class="ml-4 font-medium">Log out</span>
            }
            @else{
            <div class="absolute left-20 hidden group-hover:block bg-black text-white text-xs p-2 rounded">
                Log out
            </div>
            }
        </a>
    </nav>
</div>